Experiment 0 : Introduction to python
Name : Vivek Reddy
PRN : 25070123135

In [1]:
print("VIVEK REDDY")
print(2)
print([1,2,5])
a = "VIVEK REDDY"
b = 2
c = [1,2,5]
print(a,b,c, sep="\n")

VIVEK REDDY
2
[1, 2, 5]
VIVEK REDDY
2
[1, 2, 5]